<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
  <p style="text-align: center;"><a style="color: #245cd6;" href="../swagger_ui.html"><strong>../swagger-ui/</strong></a>
    <span><em> Переход на документацию Swagger</em></span></p>
  <br>
  <div>
    <h5>Команды actuator's</h5>
  </div>
  <div>
    <table class="TableActuator" style="height: 54px; text-align: left;" border="1" cellspacing="2" cellpadding="5">
      <thead>
      <tr>
        <td><span style="color: #495a7e;"> Ссылка : </span> : можно перейти</td>
        <td><span style="color: #495a7e;"> Краткое </span> : Описание</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <p><a style="color: #245cd6;" href="../actuator/health">/health</a></p>
        </td>
        <td>Summarizes the health status of our application.</td>
      </tr>
      <tr>
        <td>
          <p><a style="color: #245cd6;" href="../actuator/info">/info</a></p>
        </td>
        <td>Информация о приложении</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>