<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Spring boot Kafka test service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/postrequest.js"></script>
    <script src="/getrequest.js"></script>
</head>
<body>
<h4><span style="color: #8b9b55;"><span style="color: #8b9b55;">Service: kafka-clm-producer</span></span></h4>
<div th:replace="header :: content"></div>
<div class="alert alert-dark" id="postResultDiv" align="right"></div>
<div class="container">
    <h2>Kafka property</h2>
    <form id="prepareSendForm">

        <label for="topicName">Topic name (Имя топика)</label> <input type="text"
                                                                 class="form-control" id="topicName"
                                                                 placeholder="Enter topic name" name="topicName">


        <label for="key">Key (ключ сообщения):</label> <input type="text"
                                                               class="form-control" id="key"
                                                               placeholder="Enter key message"
                                                               name="key">

        <label for="message">message (Тело сообщения):</label> <input type="text"
                                                                   class="form-control" id="message"
                                                                   placeholder="Enter message"
                                                                   name="message">


        <label for="countMessage">Count Message Size (количество cообщений):</label> <input type="text"
                                                                                    class="form-control" id="countMessage"
                                                                                    placeholder="Enter countMessage size"
                                                                                    name="countMessage">

        <label for="countThreads">Count Threads Size (количество потоков):</label> <input type="text"
                                                                                  class="form-control" id="countThreads"
                                                                                  placeholder="Enter countThreads count"
                                                                                  name="countThreads">

        <br>
        <button type="submit" class="btn btn-primary">Send message</button>
    </form>
    <br/>
</div>
<div style="text-align: center;" th:replace="footer :: content"></div>
</body>
</html>